# 4 다음은 장학생, 합격, 불합격으로 구분하는 중첩 if 문입니다. 이를 if ~ elif 문으로 변경하세요

In [13]:
score = int(input("점수를 입력하세요 : "))

if score < 60 :
    print("불합격", end = "")

elif score >= 60 and score < 90:
    print("합격", end = "")

elif score >= 90:
    print("장학생", end="")
    
print("입니다. ^^")

점수를 입력하세요 : 58
불합격입니다. ^^

# 5 다음 코드의 2~5행을 삼항 연산자로 변경한 것으로 옳은 것을 고르세요

In [17]:
num = 5
res = "짝수"if num % 2 == 0  else "홀수"
print(res)

홀수

# 6 다음 각 코드를 실행한 후에, nn에 저장된 값을 쓰세요. 단, nn은 항상 보기의 5개 데이터가 저장되어 있다고 가정합니다.

In [19]:
nn = [100, 200, 300, 400, 500]
nn[1] = 777 # 1 [100, 777, 300, 400, 500]
print(nn)

nn = [100, 200, 300, 400, 500]
nn[1] = [444, 555] # 2 [100, [444, 555], 300, 400, 500]
print(nn)

nn = [100, 200, 300 ,400, 500]
nn[1:4] = [444, 555] # 3 [100, 444, 555, 500]
print(nn)

nn = [100, 200, 300, 400, 500]
nn[2:] = [] # 4 [100, 200]
print(nn)

[100, 777, 300, 400, 500]
[100, [444, 555], 300, 400, 500]
[100, 444, 555, 500]
[100, 200]

# 9 for 문을 사용해서 3333부터 9999까지의 숫자 중에서 1234의 배수의 합계를 구하되, 합계가 100000(십만)이 넘기 직전까지만 합계를 구하는 코드를 작성하세요. 단, 코드에는 continue와 break를 모두 사용해서 작성하세요

In [23]:
num = 0
for i in range(3333, 9999):
    if i % 1234 == 0:
        num += i
        continue
    if num >= 100000:
        num -= i
        break
print(num)

40722

# 8 다음은 for 문을 사용해서 1234부터 4567까지 444의 배수의 합계를 구하는 코드입니다. while 문으로 변경해서 코드를 다시 작성하세요

In [25]:
num = 1234
hap = 0
while num <= 4567:
    if num % 444 == 0:
        hap += num
    num += 1
print(hap)

23088

# 14 다음 코드를 실행한 후 myData에 저장된 값이 무엇인지 쓰세요.

In [28]:
myData = [[n*m for n in range(1, 3)] for m in range(2, 4)] # [[2, 4], [3, 6]]
myData

[[2, 4], [3, 6]]

# 5 다음 각 코드가 출력하는 것을 쓰세요.

In [30]:
nn = [100, 200, 300, 400, 500]

print(nn[4]) # 1 500
print(nn[-1]) # 2 500
print(nn[-2]) # 3 400
print(nn[1:4]) # 4 [200, 300, 400]
print(nn[0:1]) # 5 [100]
print(nn[2:-1]) # 6 [300, 400]
print(nn[0::2]) # 7 [100, 300, 500] 
print(nn[::-1]) # 8 [500, 400, 300, 200, 100]
print(nn[::-2]) # 9 [500, 300, 100]

500
500
400
[200, 300, 400]
[100]
[300, 400]
[100, 300, 500]
[500, 400, 300, 200, 100]
[500, 300, 100]